@model IEnumerable<CRUDWithADO_SP.Models.EmployeeModel>

@{
    ViewBag.Title = "Index";
    Layout = null;
}

<h2>Index</h2>

@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@
<table class="table" id="tblStudent" border="1">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Country)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.State)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DOB)
        </th>
        <th></th>
    </tr>
    <tbody></tbody>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DOB)
            </td>
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { id=item.EmployeeID }) |*@
                <a class="btn btn-primary" onclick="GetEmployee('@item.EmployeeID')">Edit</a>
                <a class="btn btn-danger" onclick="DeleteEmployee('@item.EmployeeID')">Delete</a>
            </td>
        </tr>
    }

</table>
